@import "vars";
@import "fonts";
@import "libs";

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $default-font;
  overflow-x: hidden;
  color: $dark-gray;
  input,
  textarea {
    border: #666 1px solid;
    outline: none;
    &:focus:required:invalid {
      border-color: red;
    }
    &:required:valid {
      border-color: green;
    }
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  &.img-width {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

b,
strong {
  font-weight: bold;
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.hover {
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.6;
  }
}

li {
  list-style-type: none;
}
ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.7;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -1px;
  text-align: center;

  @media (min-width: 576px) {
    font-size: 30px;
    line-height: 40px;
  }

  @media (min-width: 992px) {
    line-height: 50px;
    font-size: 40px;
    text-align: inherit;
  }
}

.wrapper {
  width: 100%;
  background-color: #f4f4f4;
  overflow: hidden;
}

@import "./components/button";
@import "./components/typography";
@import "./components/container";

@import "./partials/header.scss";
@import "./partials/hero.scss";
@import "./partials/about.scss";
@import "./partials/author.scss";
@import "./partials/services.scss";
@import "./partials/our-works.scss";
@import "./partials/clients.scss";
@import "./partials/footer.scss";

