.author {
  display: flex;

  &__avatar {
    width: 65px;
    height: 65px;
    border-radius: 65px;
    overflow: hidden;
    margin-right: 31px;

    &_img {
      border-radius: 65px;
    }
  }

  &__info {
    padding-top: 4px;

    .author__name {
      font-weight: 500;
      font-size: 16px;
      line-height: 32px;

      @media (min-width: 768px) {
        font-size: 22px;
      }
    }

    .author__position {
      font-size: 14px;
      line-height: 28px;
      opacity: 0.7;

      @media (min-width: 768px) {
        font-size: 18px;
      }
    }
  }
}
