.author {
  display: flex;
}

.author__avatar {
  width: 65px;
  height: 65px;
  margin-right: 31px;
  border-radius: 65px;
  overflow: hidden;
  &_img {
    border-radius: 65px;
  }
}

.author__info {
  padding-top: 4px;
}

.author__name {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  @media (min-width: 768px) {
    font-size: 22px;
  }
}

.author__position {
  display: block;
  font-size: 14px;
  line-height: 1.5;
  opacity: .7;
  @media (min-width: 768px) {
    font-size: 18px;
  }
}
