.clients {
  padding-top: 40px;
  @media (min-width: 768px) {
    padding-top: 100px;
  }
}

.clients__preview {
  padding-top: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.clients__overview {
  padding-top: 11px;
  font-size: 18px;
  line-height: 1.7;
  opacity: 0.7;
}

.clients__list {
  display: flex;
  justify-content: space-between;
  padding: 30px 15px;
  @media (min-width: 768px) {
    padding: 75px 15px;
  }
}

.clients__item {
  width: auto;
}

.clients__icon-container {
  display: flex;
  align-items: center;
}

.clients__icon {
  height: 20px;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.15;
  &:hover {
    opacity: 1;
  }
  @media (min-width: 992px) {
    height: auto;
  }
}
