.hero {
  padding-top: 27px;
  padding-bottom: 75px;
}

.hero__title {
  padding-bottom: 17px;
  text-align: center;
  color: $black;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: -1px;
  @media (min-width: 992px) {
    max-width: 460px;
    padding-top: 68px;
    font-size: 60px;
    text-align: inherit;
  }
}

.hero__text {
  text-align: center;
  @media (min-width: 992px) {
    max-width: 460px;
    text-align: inherit;
  }
}

.hero__btn-container {
  padding-top: 55px;
  margin-bottom: 40px;
  @media (min-width: 768px) {
    margin: 0;
  }
}

.hero__btn {
  min-width: 100%;
  @media (min-width: 992px) {
    min-width: 189px;
  }
}

.hero__placeholder-img {
  width: 100%;
  @media (min-width: 1380px) {
    width: calc(100% + 125px);
  }
}
