.services {
  padding: 20px 0;
  @media (min-width: 992px) {
    padding-top: 58px;
    padding-bottom: 55px;
  }
}

.services__list {
  padding-top: 20px;
  @media(min-width: 768px) {
    padding-top: 6px;
  }

  li {
    padding-bottom: 21px;
    transition: all 0.3s ease-in-out;
    opacity: .5;
    &:hover {
      color: $blue-text;
      opacity: 1;
    }
  }
}

.services__placeholder {
  padding-top: 40px;
  display: block;
  width: 100%;
  @media (min-width: 768px) {
    padding-top: 121px;
  }
}

.services__placeholder-img {
  width: 100%;
  @media (min-width: 1200px) {
    width: auto;
  }
}
