.services {
  padding-top: 40px;

  @media(min-width: 992px) {
    padding-top: 114px;
  }

  &__title {
    padding-top: 38px;
  }

  &__list {
    padding-top: 44px;

    @media (min-width: 768px) {
      padding-top: 44px;
    }

    @media (min-width: 992px) {
      padding-top: 44px;
    }
  }

  &__item {
    font-size: 18px;
    line-height: 28px;
    opacity: 0.5;
    padding-bottom: 21px;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $blue-text;
      opacity: 1;
    }
  }

  &__placeholder {
    width: 100%;
    padding-top: 40px;
    display: block;

    @media (min-width: 768px) {
      padding-top: 121px;
    }
  }

  &__placeholder-img {
    width: 100%;

    @media (min-width: 992px) {
      width: auto;
    }
  }
}
